In [11]:
import pandas as pd

In [14]:
df = pd.read_csv('./data/full_data.csv')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126662 entries, 0 to 126661
Data columns (total 32 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   num_acc      126662 non-null  int64
 1   id_usager    126662 non-null  int64
 2   id_vehicule  126662 non-null  int64
 3   num_veh      126662 non-null  object
 4   place        126662 non-null  int64
 5   catu         126662 non-null  int64
 6   grav         126662 non-null  int64
 7   sexe         126662 non-null  int64
 8   an_nais      126662 non-null  int64
 9   trajet       126662 non-null  int64
 10  locp         126662 non-null  int64
 11  actp         126662 non-null  object
 12  etatp        126662 non-null  int64
 13  catv         126662 non-null  int64
 14  obs          126662 non-null  int64
 15  obsm         126662 non-null  int64
 16  choc         126662 non-null  int64
 17  manv         126662 non-null  int64
 18  lum          126662 non-null  int64
 19  dep          126662 non-null  object
 20  com          126662 non-null  object
 21  agg          126662 non-null  int64
 22  int          126662 non-null  int64
 23  atm          126662 non-null  int64
 24  col          126662 non-null  int64
 25  lat          126662 non-null  float64
 26  long         126662 non-null  float64
 27  catr         126662 non-null  int64
 28  surf         126662 non-null  int64
 29  infra        126662 non-null  int64
 30  vma          126662 non-null  int64
 31  timestamp    126662 non-null  int64
dtypes: float64(2), int64(26), object(4)
memory usage: 30.9+ MB